---
layout: default
---

<div class="home">

  <ul class="post-list-new">
    {% for post in site.posts limit: 3 %}
      <li>
        <div class="cover">
          {% if post.cover %}<img src="{{post.cover}}">{% endif %}
        </div>
        <div class="title">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </div>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
